<div class="row-fluid">
	<div class="row">
		<div class="span3">
			<ul class="nav nav-pills nav-stacked">
				<li class="active" id="open_vswitch"><a href="#">Open vSwitch</a></li>
				<li><a href="#">Bridge</a></li>
				<li><a href="#">Port</a></li>
				<li><a href="#">Interface</a></li>
				<li><a href="#">Flow</a></li>
				<li><a href="#">Queue</a></li>
				<li><a href="#">Mirror</a></li>
				<li><a href="#">Controller</a></li>
				<li><a href="#">Manager</a></li>
				<li><a href="#">NetFlow</a></li>
				<li><a href="#">SSL</a></li>
				<li><a href="#">sFlow</a></li>
				<li><a href="#">IPFIX</a></li>
				<li><a href="#">Flow Sample Collector Set</li>
			</ul>
		</div>
		<div id="table" class="span9">

		</div>
  </div>
</div>